{% extends 'layout.html' %}

{% block body %}
	<h1 style="color:white; font-size:30px;margin-bottom: 50px;text-align:center;"><b>Register</b></h1>

	<form method="POST" action="" style="width:350px;margin-left:450px;">
		<label for="name" style="color:white;">Name</label><br>
		<input type="text" id="name" name="name" autocomplete="off"><br><br>

		<label for="email" style="color:white;">Email</label><br>
		<input type="email" id="email" name="email" autocomplete="off"><br><br>

		<label for="username" style="color:white;">Username</label><br>
		<input type="text" id="username" name="username" autocomplete="off"><br><br>

		<label for="password" style="color:white;">Password</label><br>
		<input type="password" id="password" name="password" autocomplete="off"><br><br>

		<label for="confirm" style="color:white;">Confirm Password</label><br>
		<input type="password" id="confirm" name="confirm" autocomplete="off"><br><br>

		<input class="btn btn-primary" type="submit" value="Register" style="background: blue; color:white;margin-left: 70px;margin-top: 15px;">
	</form>
{% endblock %}